# Python runtime files
__pycache__/
*.py[cod]

# Virtualenv folders
env/
venv/
virtualenv/

# Deployment environment variables
.env

# Collected static site assets
/static/

# Sqlite database files
*.db
