{% extends "base.html" %}

{% block title %}About {{ campaign_name }}{% endblock %}

{% block content %}
<section>
    <h1>About {{ campaign_name }}</h1>
    <p>Lorem ipsum dolor sit amet...</p>
</section>
<section>
    <h2>Meet the Clubs</h2>
    {% for club in clubs %}
    <h3>{{ club.short_name }}</h3>
    <p>{{ club.description|truncatewords:24 }}</p>
    <p><a href="/club/{{ club.ref_name }}">Read more...</a></p>
    {% endfor %}
</section>
<section>
    <p><a href="/">Go back...</a></p>
</section>
{% endblock %}
