{% extends "base.html" %}

{% block title %}{{ club.full_name }} - {{ campaign_name }}{% endblock %}

{% block content %}
<section class="club-title">
    <div class="content-columns">
        <div>
            <h1>{{ club.full_name }}</h1>
            <p><strong>Raised so far:</strong> ${{ club.balance.balance }}</p>
        </div>
        <div class="logo-container">
            <img src="/static/logos/{{ club.ref_name }}.png" alt="Logo for {{ club.full_name }}" class="logo">
        </div>
    </div>
    <p>{{ club.description }}</p>
</section>
<section>
    <h2>Best-Supported Events</h2>
    <div class="multi-table">
        <div class="multi-row">
            <a href="/events/really_long">Really Long Event Name to see if things break</a>
            <strong>$124.32</strong>
        </div>
        <div class="multi-row">
            <a href="/events/screencheat">Screencheat</a>
            <strong>$23.45</strong>
        </div>
    </div>
    <p><a href="/leaderboards/by_event">See full leaderboard...</a></p>
</section>
<section>
    <h2>What's Up Next?</h2>
    <div class="multi-table">
        <div class="multi-row">
            <a href="/events/screencheat">Screencheat</a>
            <span>9:00 pm - 9:30 pm</span>
        </div>
        <div class="multi-row">
            <a href="/events/really_long">Really Long Event Name to see if things break</a>
            <span>9:00 pm - 10:00 pm</span>
        </div>
    </div>
    <p><a href="/events/list">See all events...</a></p>
</section>
<section>
    <p><a href="/">Go back...</a></p>
</section>
{% endblock %}
