<div id="header-content">
    {% if user.is_authenticated %}
    <span>Balance: <strong id="acct_balance">${{ user.attendee_info.balance.balance }}</strong></span>
    <div class="button-vstack">
        <a href="/attendee/profile"><button class="button-info">Profile</button></a>
        <a href="/attendee/logout"><button class="button-warn">Logout</button></a>
    </div>
    {% else %}
    <div class="button-vstack">
        <a href="/attendee/create"><button class="button-info">Signup</button></a>
        <a href="/attendee/login"><button class="button-good">Login</button></a>
    </div>
    {% endif %}
</div>
