{% extends "base.html" %}

{% block title %}Password Change - Charity unVigil Donation Tracker{% endblock %}

{% block content %}
<section class="pad-bottom">
    <h1>Change Your Password</h1>
    <form method="post">
        {% csrf_token %}
        <div class="pad-bottom">
            <label for="old-password-field">Old Password:</label>
            <input name="old_password" id="old-password-field" type="password"
                                                               minlength="8"
                                                               maxlength="50">
        </div>
        <div class="pad-bottom">
            <label for="new-password-field">New Password:</label>
            <input name="new_password" id="new-password-field" type="password"
                                                               minlength="8"
                                                               maxlength="50">
        </div>
        <div class="pad-bottom">
            <label for="new-password-confirm-field">New Password (again):</label>
            <input name="new_password_confirm" id="new-password-confirm-field" type="password"
                                                                               minlength="8"
                                                                               maxlength="50">
        </div>
        <div class="input-div">
            <input type="submit" value="Change Password" class="button-good">
        </div>
    </form>
</section>
<section>
    <p><a href="/">Go back...</a></p>
</section>
{% endblock %}
