{% extends "base.html" %}

{% block title %}Leaderboard - {{ campaign_name }}{% endblock %}

{% block content %}
<section>
    <h1>Charity <sup>un</sup>Vigil Leaderboard</h1>
</section>
<section>
    {% include "leaderboards/event_widget.html" %}
    <p><a href="/leaderboards/by_event">See more...</a></p>
</section>
<section>
    {% include "leaderboards/attendee_widget.html" %}
    <p><a href="/leaderboards/by_attendee">See more...</a></p>
</section>
<section>
    <p><a href="/">Go back...</a></p>
</section>
{% endblock %}
